@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-10">
        <div class="form-style-5">
            <form>
                <fieldset>
                    <legend><span class="number">1</span>  Info</legend>
                    <input type="text" id="name" placeholder="Your Name *">
                    <input type="number" id="cNumber" value="+"
                           placeholder="Comcariate Number *">
                    <label>Communication</label>

                    <input type="email" id="email" placeholder="Your Email *">
                    <legend><span class="number">&nbsp;</span>whatsApp</legend>
                    <input type="number" id="wNumber" placeholder="whatsApp Phone Number ex:+32465919770">

                </fieldset>

                <input type="submit" value="Apply" />
            </form>
        </div>
    </div>
</div>